<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Driver's Evaluation</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>Admin Dashboard</h3>
        </article>

        <article class="main__driversEvaluation">
          <section>
            <form class="main__driversEvaluation_examClass" action="/drivers/list" method="post">
              <select name="examClass" id="examClass" class="main__driversEvaluation_examClass_dd containerHover" required>
                <option value="noclass" disabled selected hidden>Select Exam Class</option>
                <option value="g2">G2</option>
                <option value="g">G</option>
              </select>
              <button class="form__button">Get Drivers List</button>
            </form>
          </section>

          <% if(errors.length > 0){ %>
            <ul class="errorMsg">
              <% for(let i = 0; i < errors.length; i++) { %>
                <li><%= errors[i] %></li>
              <% } %>
            </ul>
          <% } %>

          <section class="main__driversEvaluation_dataList">
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Exam</th>
                  <th>Name</th>
                  <th>Car Details</th>
                  <th>Plate Number</th>
                  <th>Passed</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <% if(drivers){ %>
                <tbody>
                  <% for (let i = 0; i < drivers.length; i++){ %>
                  <tr>
                    <td><%= drivers[i].appointmentId.appointmentDate.split('T')[0]  %></td>
                    <td><%= drivers[i].appointmentId.appointmentTime  %></td>
                    <td><%= drivers[i].examClass  %></td>
                    <td><%= drivers[i].firstName %> &nbsp; <%= drivers[i].lastName %></td>
                    <td><%= drivers[i].carDetails.make %> &nbsp; <%= drivers[i].carDetails.model %></td>
                    <td><%= drivers[i].carDetails.plateNumber  %></td>
                    <td><%= drivers[i].isPassed  %></td>
                    <td><%= drivers[i].comment ? drivers[i].comment : "Not evaluated yet"  %></td>                    

                  </tr>
                  <% } %>
                </tbody>
              <% } %>
            </table>
            <ul>

            </ul>
          </section>
        </article>


    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
