<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Update Driver Details</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
        
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>DriveTest is open for business</h3>
        </article>
        <article class="main__noBgForm">
          <section class="form">

            <% if(driverData) { %>
              <% if(errors.length > 0){ %>
                <ul class="errorMsg">
                  <% for(let i = 0; i < errors.length; i++) { %>
                    <li><%= errors[i] %></li>
                  <% } %>
                </ul>
              <% } %>
            <h3>Update Driver Details</h3>
            <form action="/user/updateDriverDetails" class="form__login" method="post">
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="firstName">First Name</label>
                  <input class="form__input" type="text" name="firstName" placeholder="First Name" value="<%= driverData.userId.firstName %>" disabled>
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="lastName">Last Name</label>
                  <input class="form__input" type="text" name="lastName" placeholder="Last Name" value="<%= driverData.userId.lastName %>" disabled>
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="licenceNumber">Licence Number</label>
                  <input class="form__input" type="text" name="licenceNumber" placeholder="LicenceNumber"  value="<%= driverData.userId.licenceNumber %>" disabled>
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="dob">Date of birth</label>
                  <input class="form__input" type="date" name="dob" placeholder="dob" value="<%= driverData.userId.dob.toISOString().split('T')[0] %>" disabled>
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="make">Vehicle Maker</label>
                  <input class="form__input" type="text" name="make" placeholder="Vehicle Maker" value="<%= driverData.userId.carDetails.make %>">
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="model">Vehicle Model</label>
                  <input class="form__input" type="text" name="model" placeholder="Vehicle Model" value="<%= driverData.userId.carDetails.model %>">
                </p>
              </div>
              <div class="main__noBgForm_column">
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="year">Make Year</label>
                  <input class="form__input" type="date" name="year" placeholder="Make Year" value="<%= driverData.userId.carDetails.year.toISOString().split('T')[0] %>">
                </p>
                <p class="form__p main__noBgForm_column_child">
                  <label class="form__label" for="plateNumber">Vehicle Plate Number</label>
                  <input class="form__input" type="text" name="plateNumber" placeholder="Vehicle Plate Number" value="<%= driverData.userId.carDetails.plateNumber %>">
                </p>
              </div>
              <div class="main__noBgForm_column">
              <p class="form__p  main__noBgForm_column_child">
                <label class="form__label" for="appointmentDate">Appointment Date</label>
                <input class="form__input" type="date" name="appointmentDate" placeholder="Appointment Date" value="<%= driverData.appointmentDate.toISOString().split('T')[0] %>" disabled>
              </p>
              <p class="form__p main__noBgForm_column_child">
                <label class="form__label" for="examClass">Exam Class</label><br>
                <select name="examClass" id="examClass" class="main__driversEvaluation_examClass_dd containerHover" disabled style="border-radius: 10px; padding: 10px 0; width: 100%;">
                  <option value="<%= driverData.userId.carDetails.plateNumber %>" disabled selected hidden><%= driverData.userId.examClass %></option>
                </select>
              </p>
            </div>

            <!-- <div class="main__noBgForm_column"> -->
              <p class="form__p main__noBgForm_column_child" style="margin-bottom: 0px;">
                <label class="form__label" for="examtime">Exam Time</label>
              </p>
            <!-- </div> -->

            <div class="slots" >
              <input class="slots__button" type="radio" name="appointmentTime" id="" value="<%= driverData.appointmentTime %>" data-time="<%= driverData.appointmentTime %>" disabled style="width: 100%;"/>
            </div>

              <button class="form__button" type="submit">Update Details</button>
            </form>
            <% } else { %>
              <h3 style="background-color: rgba(255, 0, 0, 0.395); color: red;">Book Appointment First</h3>
              <form action="/user/bookAppointment" class="form__login" method="get">
                <div class="main__noBgForm_column">
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="firstName">First Name</label>
                    <input class="form__input" type="text" name="firstName" placeholder="First Name" disabled>
                  </p>
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="lastName">Last Name</label>
                    <input class="form__input" type="text" name="lastName" placeholder="Last Name" disabled>
                  </p>
                </div>
                <div class="main__noBgForm_column">
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="licenceNumber">Licence Number</label>
                    <input class="form__input" type="text" name="licenceNumber" placeholder="Licence Number" disabled>
                  </p>
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="dob">Date of birth</label>
                    <input class="form__input" type="date" name="dob" placeholder="Dob" disabled>
                  </p>
                </div>
                <div class="main__noBgForm_column">
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="make">Vehicle Maker</label>
                    <input class="form__input" type="text" name="make" placeholder="Vehicle Maker" disabled>
                  </p>
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="model">Vehicle Model</label>
                    <input class="form__input" type="text" name="model" placeholder="Vehicle Model" disabled>
                  </p>
                </div>
                <div class="main__noBgForm_column">
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="year">Make Year</label>
                    <input class="form__input" type="date" name="year" placeholder="Make Year" disabled>
                  </p>
                  <p class="form__p main__noBgForm_column_child">
                    <label class="form__label" for="plateNumber">Vehicle Plate Number</label>
                    <input class="form__input" type="text" name="plateNumber" placeholder="Vehicle Plate Number" disabled>
                  </p>
                </div>
                <p class="form__p">
                  <label class="form__label" for="appointmentDate">Appointment Date</label>
                  <input class="form__input" type="date" name="appointmentDate" placeholder="Appointment Date" disabled>
                </p>
                <button class="form__button" type="submit">Book Appointment</button>
              </form>
            <% }%>
          </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>
  </body>
</html>
