<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tag -->
    <%- include("layouts/header") %>
    <title>Driver's Evaluation</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("layouts/navbar") %>
    
    <!-- Main -->
    <main class="main">
        <article class="main__newsBanner">
          <h3>Examiner Dashboard</h3>
        </article>

        <article class="containerPaddingAllSides">
          <section>
            <form class="main__driversEvaluation_examClass" action="/examiner/drivers/list" method="post">
              <select name="examClass" id="examClass" class="main__driversEvaluation_examClass_dd containerHover" required>
                <option value="" disabled selected hidden>Select Exam Class</option>
                <option value="g2">G2</option>
                <option value="g">G</option>
              </select>
              <button class="form__button">Get Drivers List</button>
            </form>
          </section>

          <% if(errors.length > 0){ %>
            <ul class="errorMsg">
              <% for(let i = 0; i < errors.length; i++) { %>
                <li><%= errors[i] %></li>
              <% } %>
            </ul>
          <% } %>


          <section class="main__driversEvaluation_dataList driversList">
            <table class="driversList__container">
              <thead>
                <tr>
                  <th class="driversList__header">Date</th>
                  <th class="driversList__header">Time</th>
                  <th class="driversList__header">Exam</th>
                  <th class="driversList__header">Name</th>
                  <th class="driversList__header">Car Details</th>
                  <th class="driversList__header">Plate Number</th>
                  <th class="driversList__header">Passed</th>
                  <th class="driversList__header">Comment</th>
                  <th class="driversList__header">Evaluate</th>
                </tr>
              </thead>
              <% if(drivers){ %>
                <tbody class="table_body">
                  <% for (let i = 0; i < drivers.length; i++){ %>
                  <tr class="table_body_row">
                    <td class="driversList__item"><%= drivers[i].appointmentId.appointmentDate.split('T')[0]  %></td>
                    <td class="driversList__item"><%= drivers[i].appointmentId.appointmentTime  %></td>
                    <td class="driversList__item"><%= drivers[i].examClass  %></td>
                    <td class="driversList__item"><%= drivers[i].firstName %> &nbsp; <%= drivers[i].lastName %></td>
                    <td class="driversList__item"><%= drivers[i].carDetails.make %> &nbsp; <%= drivers[i].carDetails.model %></td>
                    <td class="driversList__item"><%= drivers[i]._id %>  %></td>
                    <td class="driversList__item">
                      <% if(drivers[i].isPassed != null) { %>
                        <%= drivers[i].isPassed ? "Passed" : "Failed" %>
                      <% } else { %>
                          <%= "Not evaluated" %>
                      <% } %>
                      </td>
                    <td class="driversList__item"><%= drivers[i].comment ? drivers[i].comment : "Not evaluated"  %></td>
                    <td class="driversList__item">
                        <button onclick="openModal('<%=drivers[i]._id %>')" class="modalPopUpBtn form__button" value="<%=drivers[i]._id %>">
                          Evaluate
                        </button>
                    
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              <% } %>
            </table>
          </section>
        </article>

        <!-- Modal -->
        <article id="dialogBox" class="modal">
          <div class="modal__popUp">
            <span onclick="document.getElementById('dialogBox').style.display='none'" class="closeDialogBox">&times;</span>
            <h3>Evaluate Driver</h3>
            <form action="/examiner/evaluatePopup" method="post">
             <p>
                Has driver passed the exam ?
                <br>
                <label for="yes" style="font-weight :300;">Yes</label>
                <input type="radio" name="isPassed" value="true" required>
  
                <label for="no" style="font-weight :300;">No</label>
                <input type="radio" name="isPassed" value="false" required>

                <input type="text" name="userId" id="userId" value="" hidden>
              </p>
              <p>
                <label for="comment" >Comment</label>
                <textarea name="comment" id="" cols="30" rows="10" class="form__input" required></textarea>
              </p>

              <button type="submit" class="form__button">Save Evaluation</button>
            </form>
          </div>
        </article>


    </main>

    <!-- Footer -->
    <%- include("layouts/footer") %>

    <!-- Script  -->
    <script>
      // JavaScript to handle passing value to modal
      function openModal(value) {
        document.getElementById('dialogBox').style.display='block'
        var modal = document.getElementById('dialogBox');
        var modalValue = modal.querySelector('#userId');
        modalValue.value = value;
      }
  
    </script>
  </body>
</html>
